@{
    ViewBag.Title = "Няма контакти";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Бай Киро<br />
</address>

<address>
    <strong>Support:</strong>   <a href="kiril.tanushev@gmail.com">kiril.tanushev@gmail.com</a><br />
</address>